<section layout='column'>
  <section layout-gt-md='row' layout='column'>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Total Data</span>
          <span class="md-subhead">The amount of teams and matches scouted</span>
        </md-card-title-text>
      </md-card-title>

      <md-content layout-padding>
        <table>
          <tr>
            <td class='label'>Teams</td>
            <td>{{numTeams}}</td>
          </tr>
          <tr>
            <td class='label'>Matches</td>
            <td>{{numMatches}}</td>
          </tr>
        </table>
      </md-content>
    </md-card>

    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Last Update</span>
          <span class="md-subhead">Time since last data dump</span>
        </md-card-title-text>
      </md-card-title>
      
      <md-content layout-padding>
        <table>
          <tr>
            <td class='label'>Last Match</td>
            <td>
              <span ng-repeat='match in lastMatchData | orderBy: "side"' class='team {{match.side}}'>
                <a ng-href='#/team/{{match.team}}'>
                  {{match.team}}
                </a>
              </span>
            </td>
          </tr>
          <tr>
            <td class='label'>Matches</td>
            <td>{{lastMatch}}</td>
          </tr>
        </table>
      </md-content>
    </md-card>
  </section>

  <section layouy-gt-md='row' layout='column'>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class='md-headline'>Random Statistics</span>
          <span class='md-subhead'>A few pie charts</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>

        <div layout='row'>
          <div google-chart chart="pie" style='width: 33%;'></div>
          <div google-chart chart="pie" style='width: 33%;'></div>
          <div google-chart chart="pie" style='width: 33%;'></div>
        </div>

      </md-card-content>
    </md-card>
  </section>

  <section layout-gt-md='row' layout='column'>
    <md-card flex>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Match Overview</span>
          <span class="md-subhead">A list of all matches</span>
        </md-card-title-text>
      </md-card-title>

      <md-card-content>

        <table>
          <tr>
            <th>Match</th>
            <th>Red</th><th></th><th></th>
            <th>Blue</th><th></th><th></th>
            <th>Score</th><th></th>
          </tr>
          <tr ng-repeat="data in tournament.matches">
            <td>{{data.title}}</td>
            <td ng-repeat="(id, team) in data.description.li" class='team' ng-class='{red: id<3, blue: id>=3}'>
              <a ng-href='#/team/{{team}}'>
                {{team}}
              </a>
            </td>
            <td class='team red'>
              {{data.description.h1[0]}}
            </td>
            <td class='team blue'>
              {{data.description.h1[1]}}
            </td>
          <tr/>
        </table>

      </md-card-content>
    </md-card>
  </section>

  <!--<section layout-gt-md='row' layout='column'>
    <md-card flex>
      <md-card-content>
        <form enctype="multipart/form-data" action="scoutUpload.php" method="POST">
          <input type="hidden" name="MAX_FILE_SIZE" value="30000" />
          <input name='team' type='text' placeholder='team'/><br/>
          Send this file: <input name="upload" type="file" />
          <input type="submit" value="Send File" />
        </form>
      </md-card-content>
    </md-card>
  </section>-->
</section>