<md-checkbox ng-model='boolean'>
  Boolean
</md-checkbox>

<md-input-container>
  <label>String</label>
  <input type="text" ng-model='string'>
</md-input-container>

<md-input-container>
  <label>Number</label>
  <input type="number" min=0 max=5 ng-model='number'>
</md-input-container>

<md-radio-group ng-model='radio'>
  <md-radio-button ng-value='1'>
    Radio 1
  </md-radio-button>
  <md-radio-button  ng-value='2'>
    Radio 2
  </md-radio-button>
  <md-radio-button ng-value='3'>
    Radio 3
  </md-radio-button>
</md-radio-group>